div[style]{
  margin: 5px;
  /* color: #4D4D4D; */
  color:  #FFF;
}

*{
  margin: 0;
  padding: 0;
}

#bottom-box-top p{
  font-family: 'Kanit', sans-serif !important;
}

#bottom-box-top p:last-child {
  margin-top: -13px;
}

#bottom-box-bottom{
  font-family: 'Wire One', sans-serif;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
